body{
    margin:0;
    padding:0;
    background-color:#061d36;
    background-image:url("assets/background.svg");
    background-size:200% 150%;
    /* background-position:50% 0%; */
    color:#fff;
    width:100%;
    height:100%;
    line-height:1.5;
    font-family: 'Roboto', Arial;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1{
    font-family: 'Coming Soon', cursive;
    text-align:center;
    font-size:5em;
    margin-bottom:0;
    margin-top:0;
    text-shadow:0 0 10px rgb(138, 138, 138);
}
/* -------------------sidepanel------------------- */
.wrapper{
    display:flex;
    height:97vh;
}
.main{
    flex-grow:1;
}
.side-panel-toggle{
    display:grid;
    width:40px;
    height:40px;
    margin-top:25px;
    flex-shrink:0;
    place-items:center;

    color:#f2f9ff;
    background:#241807;
    border:none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor:pointer;
}
.side-panel-toggle:hover{
background:#3977d4;
}
.side-panel{
    display:none;
    width:200px;
    flex-shrink:0;
    color:#fff;
    background: rgb(40,161,245);
    background: linear-gradient(0deg, rgba(40,161,245,0.6787856884216994) 0%, rgba(10,46,70,1) 100%);
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    overflow:hidden;
    border-radius: 5px;
    margin-top:20px;
    padding-left:25px;
}
.sp-icon-close{
    display:none !important;
}
.side-panel-open .side-panel{
    display:initial;
}
.side-panel-open .sp-icon-open{
    display:none !important;
}
.side-panel-open .sp-icon-close{
    display:none initial !important;
}
#max-results-var{
  margin-left:60px;
  width:50px;
  height:20px;
  border: none;
  border-radius:3px;
  margin-bottom: 14px;
  margin-top: 5px;
  outline:none;
}
#max-distance-var{
  margin-left:60px;
  width:50px;
  height:20px;
  border: none;
  border-radius:3px;
  margin-bottom: 14px;
  margin-top: 5px;
  outline:none;
}
#max-results-var:focus{
  box-shadow:3px 3px 5px rgba(207, 207, 207, 0.3);
}
#max-distance-var:focus{
  box-shadow:3px 3px 5px rgba(207, 207, 207, 0.3);
}
.parameters{
  text-align:center;
  padding-right:20px;
  margin-top:20px;
}
/* -------------------switch------------------- */

.toggleSwitch {
    display: inline-block;
    height: 17px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 61px;
    margin-top: 5px;
    cursor: pointer;
    width: 40px;
    user-select: none;
    margin-bottom: 12px;

  }

  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
.toggleSwitch span span {
  display: none;
}
.toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 0;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.8em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 0px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
/* -------------------search------------------- */
.search-form{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left: 230px;
    padding-right: 240px;
    padding-top: 25px;
}

#search-input{
    border-radius: 30px;
    border-style: hidden;
    width: 100%;
    min-width: 300px;
    height: 35px;

    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    padding: 1px 0px 0px 25px;
    outline: none;
    font-size: 22px;
    box-shadow: 8px 8px 15px 10px rgb(228, 228, 228) inset;


}
#search-input:hover{
    box-shadow:0 0 0 2px #bebebe;
}
#search-input:focus{
    box-shadow:0 0 0 3px #fcb345;
    border-style: none;
    border-color:#db9616;
}

#submit-button{
    border-radius: 20px;
    border-style: hidden;
    outline: none;
    width: fit-content;
    height: 38px;
    margin-left: 10px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:large;
    font-weight: normal;
    border-style: transparent;
    box-shadow: 8px 8px 15px 10px rgb(228, 228, 228) inset;

}
#submit-button:hover{
    box-shadow:0 0 0 2px #d0d0d0;
}

/* -------------------infowindow------------------- */

#info-window-title{
    font-weight:500;
    font-size:14px;
    font-family: 'Roboto', Arial;
    margin-bottom:3.5px;
}

#info-window-link{
    font-size:12.4px;
    font-family: 'Roboto', Arial;
    color:#1a73e8;
    text-decoration: none;
}
#info-window-link:visited {
    color: #1a73e8;
}
#info-window-link:hover {
    color: #1a73e8;
    text-decoration: underline;
}
#pad{
    margin-top:1px;
}
.gm-style-iw-d{
color:#000000;
}

#map{
    position:relative;
    height:88vh;
    overflow:hidden;
    border-radius: 20px;
    margin: 20px 5px 0px 50px;
    box-shadow: 5px 5px 8px rgba(156, 156, 156,0.85);
}